DB_HOST=localhost
DB_NAME=db_uptime_monitoring
DB_USER=root
DB_PASS=

# SMTP Settings
SMTP_SECURE_VERIFY=true

# Application Base URL (With trailing slash)
APP_URL=http://localhost/uptime-monitoring/
